<section class="container about">
  <div class="container-fluid mb-5">
    <h3 class="mt-5 mb-5">O Time</h3>
    <div class="row border bg-light">
      <div class="col-lg-4">
        Gabriel Zanatto
        <ul class="list-group list-group-flush">
          <li class="list-group-item bg-light"><a href="https://github.com/salami96">GitHub</a></li>
          <li class="list-group-item bg-light"><a href="https://www.linkedin.com/in/gabriel-zanatto-salami-44b200173">LinkedIn</a></li>
        </ul>
      </div>
      <div class="col-lg-4">
        Israel Pereira
        <ul class="list-group list-group-flush">
          <li class="list-group-item bg-light"><a href="https://github.com/mballack13">GitHub</a></li>
          <li class="list-group-item bg-light"><a href="https://www.linkedin.com/in/israel-pereira-4998a169/">LinkedIn</a></li>
        </ul>
      </div>
      <div class="col-lg-4">
        Matheus Canabarro
        <ul class="list-group list-group-flush">
          <li class="list-group-item bg-light"><a href="https://github.com/MatysApiros">GitHub</a></li>
          <li class="list-group-item bg-light"><a href="https://www.linkedin.com/in/matheus-canabarro-pe%C3%B1a-4b5382132/">LinkedIn</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="mb-5">
    <h3 class="mt-5 mb-5">O Programa</h3>
    <blockquote class="blockquote">
      <p>
        "O programa Students to Business (S2B) é uma capacitação gratuita de cerca de 80 horas/aula em tecnologias Microsoft para estudantes de ensino médio, técnico, graduação e pós-graduação. O objetivo do programa é fazer a ligação entre novos profissionais em busca de uma oportunidade no mercado e empresas com demanda de mão-de-obra qualificada. O S2B ocorre semestralmente desde 2006 e já formou mais de 1300 alunos."
      </p>
      <footer class="blockquote-footer"><cite title="Centro de Inovação">Centro de Inovação</cite></footer>
    </blockquote>
  </div>
  <div class="mb-5 lead">
    <h3 class="mt-5 mb-5">Agradecimentos</h3>
    <p>
      O time gostaria de agradecer a todos poor está incrível experiencia. Neste pouco menos de dois meses tivemos a oportunidade de apredender, descobrir e conhecer novas tecnologias e conexões.
    </p>
  </div>
</section>