<footer class="footer font-small stylish-color-dark pt-4">
    <div class="container">
      <ul class="list-unstyled list-inline text-center">
        <li class="list-inline-item">
          <a class="btn-floating btn-fb mx-3" href="{{facebook}}">
            <i class="fa fa-facebook"></i>
          </a>
        </li>
        <li class="list-inline-item">
          <a class="btn-floating btn-tw mx-3" href="{{twitter}}">
            <i class="fa fa-twitter"></i>
          </a>
        </li>
        <li class="list-inline-item">
          <a class="btn-floating btn-gplus mx-3" href="{{github}}">
            <i class="fa fa-github"></i>
          </a>
        </li>
        <li class="list-inline-item">
          <a class="btn-floating btn-li mx-3" href="{{linkedin}}">
            <i class="fa fa-linkedin"></i>
          </a>
        </li>
      </ul>
    </div>
    <div class="footer-copyright text-center py-3">
      © 2018 Copyright:
      <a href="{{s2b}}">{{ci}}</a>
    </div>
</footer>
