footer { background-color: #3E4551; }

.fa-facebook { color: #3B5998; }

.fa-twitter { color: #55ACEE; }

.fa-github { color: #43a047; }

.fa-linkedin { color: #007BB6; }

.footer-copyright a { text-decoration:none; }