<nav class="navbar navbar-expand-lg bg-secondary border-bottom border-dark">
  <ul class="navbar-nav">
    <li class="nav-item btn" routerLinkActive="active">
      <a class="nav-link text-white" routerLink="/home">Home</a>
    </li>
    <li class="nav-item btn" routerLinkActive="active">
      <a class="nav-link text-white" routerLink="/hospitais">Hospitais</a>
    </li>
    <li class="nav-item btn" routerLinkActive="active">
      <a class="nav-link text-white" routerLink="/aboutus">About Us</a>
    </li>
  </ul>
</nav>