agm-map { height: 400px; }

.search-bar {
    background-color: #f8f9fa;
    margin: 0%;
}

.inputName, .inputSpec {
    line-height: 2em;
    height: 2em;
}

.btn-sm, .close, .btn-spec {
    font-size: 1em;
    line-height: 1em;
    height: 2em;
}