agm-map { height: 400px; }

.search-bar {
    background-color: #f8f9fa;
    margin: 0%;
}

.inputName, .inputSpec, .close{
    line-height: 2em;
    height: 2em;
}

.btn-sm {
    font-size: 1em;
    line-height: 1em;
    height: 2em;
    vertical-align: middle;

}
