<section class="row form-group container-fluid search-bar p-2 bg-secondary">
    <h3 class="col-lg-2 text-white font-weight-bold">Filtrar Por:</h3>
    <div class="input-group col-lg-2">
        <input placeholder="Nome" [(ngModel)]="name" (keyup)="filterName()" autofocus class="form-control inputName">
      <div class="input-group-append">
        <button class="btn btn-light btn-sm" (click)="name = ''; filterName()" type="button"><span class="fa fa-times"></span></button>
      </div>
    </div>
    <div class="input-group col-lg-2">
        <input placeholder="Especialidade" [(ngModel)]="spec" (keyup)="filterSpec()" class="form-control inputSpec">
      <div class="input-group-append">
        <button class="btn btn-light btn-sm" (click)="spec = ''; filterSpec()" type="button"><span class="fa fa-times"></span></button>
      </div>
    </div>
    <div class="btn-group col-lg-4" role="group" aria-label="Especialidades por icones">
      <button type="button" (click)="spec = 'cardiologia'; filterSpec()" class="btn btn-light"><img src="../../../assets/heart.png"></button>
      <button type="button" (click)="spec = 'neurologia'; filterSpec()" class="btn btn-light"><img src="../../../assets/brain.png"></button>
      <button type="button" (click)="spec = 'traumatologia'; filterSpec()" class="btn btn-light"><img src="../../../assets/broken-leg.png"></button>
      <button type="button" (click)="spec = 'pediatria'; filterSpec()" class="btn btn-light"><img src="../../../assets/baby.png"></button>
      <button type="button" (click)="spec = 'odontologia'; filterSpec()" class="btn btn-light"><img src="../../../assets/tooth.png"></button>
      <button type="button" (click)="spec = 'ginecologia'; filterSpec()" class="btn btn-light"><img src="../../../assets/uterus.png"></button>
    </div>
</section>
<section class="container-fluid bg-light p-5">
  <div class="row">
    <div class="col-lg-4 bg-light">
      <div>
        <h2 class=m-0>Clique no nome do hospital para receber mais detalhes...</h2>
        <ul class="list-group text-center mt-2 mb-2">
          <li *ngFor="let index of hospitals" [hidden]="index.display" (click)="onSelect(index)" [class.selected]="isSelected(index)" class="list-group-item">
            <a class="btn">{{index.name}}</a>
          </li>
        </ul>
      </div>
    </div>
    <div *ngIf="selectedHospital" class="col-lg-8 mb-3">
      <div class="bg-white rounded mt-2 p-5 border">
        <span (click)="clearSel()" class="fa fa-times close"></span>
        <h2 class="m-0">{{selectedHospital.name | uppercase}}</h2>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Tipo: {{selectedHospital.type}}</li>
          <li class="list-group-item">Público ou Privado: {{selectedHospital.public}}</li>
          <li class="list-group-item">Telefone: {{selectedHospital.phone}}</li>
          <li class="list-group-item">Endereço: {{selectedHospital.address}}</li>
          <li class="list-group-item">Site:
            <a href="{{selectedHospital.link}}">{{selectedHospital.link}}</a>
          </li>
          <li class="list-group-item">Especialidades: {{selectedHospital.specialties}}</li>
          <agm-map class="border" *ngIf="latitude && longitude" [zoom]="18" [latitude]="latitude" [longitude]="longitude">
            <agm-marker [latitude]="latitude" [longitude]="longitude">
                <agm-info-window>
                  {{selectedHospital.name}}<br>
                  Telefone: {{selectedHospital.phone}}
                </agm-info-window>
            </agm-marker>
          </agm-map>
        </ul>
      </div>
    </div>
  </div>
</section>
